############################################################
##### 请配置好数据库password 再建一个application.yml#####
############################################################


server:
  servlet:
    context-path: /api
  port: 8080

spring:

  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password:
    url: jdbc:mysql://xxxxxxxxxxx:3306/management?characterEncoding=utf-8&useSSL=true

  devtools:
    restart:
      additional-paths: ./src/main
      enabled: true

mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.web.machineversion.entity