<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.dao.ProjectApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.management.model.entity.ProjectApplication" >
    <id column="project_application_id" property="projectApplicationId" jdbcType="VARCHAR" />
    <result column="project_category_id" property="projectCategoryId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_description" property="projectDescription" jdbcType="VARCHAR" />
    <result column="project_index" property="projectIndex" jdbcType="VARCHAR" />
    <result column="project_index_state" property="projectIndexState" jdbcType="INTEGER" />
    <result column="project_money" property="projectMoney" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="review_principal_id" property="reviewPrincipalId" jdbcType="VARCHAR" />
    <result column="review_leader_id" property="reviewLeaderId" jdbcType="VARCHAR" />
    <result column="project_application_upload_address" property="projectApplicationUploadAddress" jdbcType="VARCHAR" />
    <result column="is_meeting" property="isMeeting" jdbcType="INTEGER" />
    <result column="meeting_review_message" property="meetingReviewMessage" jdbcType="VARCHAR" />
    <result column="review_phase" property="reviewPhase" jdbcType="INTEGER" />
    <result column="failure_reason" property="failureReason" jdbcType="VARCHAR" />
    <result column="application_time" property="applicationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    project_application_id, project_category_id, project_name, project_description, project_index, 
    project_index_state, project_money, user_id, review_principal_id, review_leader_id, 
    project_application_upload_address, is_meeting, meeting_review_message, review_phase, 
    failure_reason, application_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.management.model.entity.ProjectApplicationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_ProjectApplication
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_ProjectApplication
    where project_application_id = #{projectApplicationId,jdbcType=VARCHAR}
  </select>
  <select id="selectMyApplication" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from tbl_ProjectApplication
    where user_id=#{userId,jdbcType=VARCHAR}
          and ((review_phase = 7) or (review_phase between 1 and 5) or (review_phase = 8))
  </select>

  <select id="selectFailProjectApplication" resultMap="BaseResultMap" parameterType="java.lang.String">
  select * from tbl_ProjectApplication as a
  where a.review_phase=6 or a.project_index_state=false
  </select>
  <select id="queryAllProgressAndFailProject" resultMap="BaseResultMap" parameterType="java.lang.String">
  select a.*
  from tbl_ProjectApplication as a left join tbl_ProjectCategory as b on a.project_category_id = b.project_category_id
  where (a.review_phase = 5 or a.review_phase = 6) and (b.principal_id = #{userId,jdbcType=VARCHAR} or b.review_leader_id = #{userId,jdbcType=VARCHAR})
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_ProjectApplication
    where project_application_id = #{projectApplicationId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.management.model.entity.ProjectApplicationExample" >
    delete from tbl_ProjectApplication
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.management.model.entity.ProjectApplication" >
    insert into tbl_ProjectApplication (project_application_id, project_category_id, 
      project_name, project_description, project_index, 
      project_index_state, project_money, user_id, 
      review_principal_id, review_leader_id, project_application_upload_address, 
      is_meeting, meeting_review_message, review_phase, 
      failure_reason, application_time)
    values (#{projectApplicationId,jdbcType=VARCHAR}, #{projectCategoryId,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{projectDescription,jdbcType=VARCHAR}, #{projectIndex,jdbcType=VARCHAR}, 
      #{projectIndexState,jdbcType=INTEGER}, #{projectMoney,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, 
      #{reviewPrincipalId,jdbcType=VARCHAR}, #{reviewLeaderId,jdbcType=VARCHAR}, #{projectApplicationUploadAddress,jdbcType=VARCHAR}, 
      #{isMeeting,jdbcType=INTEGER}, #{meetingReviewMessage,jdbcType=VARCHAR}, #{reviewPhase,jdbcType=INTEGER}, 
      #{failureReason,jdbcType=VARCHAR}, #{applicationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.management.model.entity.ProjectApplication" >
    insert into tbl_ProjectApplication
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectApplicationId != null" >
        project_application_id,
      </if>
      <if test="projectCategoryId != null" >
        project_category_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectDescription != null" >
        project_description,
      </if>
      <if test="projectIndex != null" >
        project_index,
      </if>
      <if test="projectIndexState != null" >
        project_index_state,
      </if>
      <if test="projectMoney != null" >
        project_money,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="reviewPrincipalId != null" >
        review_principal_id,
      </if>
      <if test="reviewLeaderId != null" >
        review_leader_id,
      </if>
      <if test="projectApplicationUploadAddress != null" >
        project_application_upload_address,
      </if>
      <if test="isMeeting != null" >
        is_meeting,
      </if>
      <if test="meetingReviewMessage != null" >
        meeting_review_message,
      </if>
      <if test="reviewPhase != null" >
        review_phase,
      </if>
      <if test="failureReason != null" >
        failure_reason,
      </if>
      <if test="applicationTime != null" >
        application_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectApplicationId != null" >
        #{projectApplicationId,jdbcType=VARCHAR},
      </if>
      <if test="projectCategoryId != null" >
        #{projectCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectDescription != null" >
        #{projectDescription,jdbcType=VARCHAR},
      </if>
      <if test="projectIndex != null" >
        #{projectIndex,jdbcType=VARCHAR},
      </if>
      <if test="projectIndexState != null" >
        #{projectIndexState,jdbcType=INTEGER},
      </if>
      <if test="projectMoney != null" >
        #{projectMoney,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="reviewPrincipalId != null" >
        #{reviewPrincipalId,jdbcType=VARCHAR},
      </if>
      <if test="reviewLeaderId != null" >
        #{reviewLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="projectApplicationUploadAddress != null" >
        #{projectApplicationUploadAddress,jdbcType=VARCHAR},
      </if>
      <if test="isMeeting != null" >
        #{isMeeting,jdbcType=INTEGER},
      </if>
      <if test="meetingReviewMessage != null" >
        #{meetingReviewMessage,jdbcType=VARCHAR},
      </if>
      <if test="reviewPhase != null" >
        #{reviewPhase,jdbcType=INTEGER},
      </if>
      <if test="failureReason != null" >
        #{failureReason,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        #{applicationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.management.model.entity.ProjectApplicationExample" resultType="java.lang.Integer" >
    select count(*) from tbl_ProjectApplication
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_ProjectApplication
    <set >
      <if test="record.projectApplicationId != null" >
        project_application_id = #{record.projectApplicationId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectCategoryId != null" >
        project_category_id = #{record.projectCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectDescription != null" >
        project_description = #{record.projectDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.projectIndex != null" >
        project_index = #{record.projectIndex,jdbcType=VARCHAR},
      </if>
      <if test="record.projectIndexState != null" >
        project_index_state = #{record.projectIndexState,jdbcType=INTEGER},
      </if>
      <if test="record.projectMoney != null" >
        project_money = #{record.projectMoney,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewPrincipalId != null" >
        review_principal_id = #{record.reviewPrincipalId,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewLeaderId != null" >
        review_leader_id = #{record.reviewLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectApplicationUploadAddress != null" >
        project_application_upload_address = #{record.projectApplicationUploadAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.isMeeting != null" >
        is_meeting = #{record.isMeeting,jdbcType=INTEGER},
      </if>
      <if test="record.meetingReviewMessage != null" >
        meeting_review_message = #{record.meetingReviewMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewPhase != null" >
        review_phase = #{record.reviewPhase,jdbcType=INTEGER},
      </if>
      <if test="record.failureReason != null" >
        failure_reason = #{record.failureReason,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationTime != null" >
        application_time = #{record.applicationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_ProjectApplication
    set project_application_id = #{record.projectApplicationId,jdbcType=VARCHAR},
      project_category_id = #{record.projectCategoryId,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      project_description = #{record.projectDescription,jdbcType=VARCHAR},
      project_index = #{record.projectIndex,jdbcType=VARCHAR},
      project_index_state = #{record.projectIndexState,jdbcType=INTEGER},
      project_money = #{record.projectMoney,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      review_principal_id = #{record.reviewPrincipalId,jdbcType=VARCHAR},
      review_leader_id = #{record.reviewLeaderId,jdbcType=VARCHAR},
      project_application_upload_address = #{record.projectApplicationUploadAddress,jdbcType=VARCHAR},
      is_meeting = #{record.isMeeting,jdbcType=INTEGER},
      meeting_review_message = #{record.meetingReviewMessage,jdbcType=VARCHAR},
      review_phase = #{record.reviewPhase,jdbcType=INTEGER},
      failure_reason = #{record.failureReason,jdbcType=VARCHAR},
      application_time = #{record.applicationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.model.entity.ProjectApplication" >
    update tbl_ProjectApplication
    <set >
      <if test="projectCategoryId != null" >
        project_category_id = #{projectCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectDescription != null" >
        project_description = #{projectDescription,jdbcType=VARCHAR},
      </if>
      <if test="projectIndex != null" >
        project_index = #{projectIndex,jdbcType=VARCHAR},
      </if>
      <if test="projectIndexState != null" >
        project_index_state = #{projectIndexState,jdbcType=INTEGER},
      </if>
      <if test="projectMoney != null" >
        project_money = #{projectMoney,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="reviewPrincipalId != null" >
        review_principal_id = #{reviewPrincipalId,jdbcType=VARCHAR},
      </if>
      <if test="reviewLeaderId != null" >
        review_leader_id = #{reviewLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="projectApplicationUploadAddress != null" >
        project_application_upload_address = #{projectApplicationUploadAddress,jdbcType=VARCHAR},
      </if>
      <if test="isMeeting != null" >
        is_meeting = #{isMeeting,jdbcType=INTEGER},
      </if>
      <if test="meetingReviewMessage != null" >
        meeting_review_message = #{meetingReviewMessage,jdbcType=VARCHAR},
      </if>
      <if test="reviewPhase != null" >
        review_phase = #{reviewPhase,jdbcType=INTEGER},
      </if>
      <if test="failureReason != null" >
        failure_reason = #{failureReason,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        application_time = #{applicationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where project_application_id = #{projectApplicationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.model.entity.ProjectApplication" >
    update tbl_ProjectApplication
    set project_category_id = #{projectCategoryId,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_description = #{projectDescription,jdbcType=VARCHAR},
      project_index = #{projectIndex,jdbcType=VARCHAR},
      project_index_state = #{projectIndexState,jdbcType=INTEGER},
      project_money = #{projectMoney,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      review_principal_id = #{reviewPrincipalId,jdbcType=VARCHAR},
      review_leader_id = #{reviewLeaderId,jdbcType=VARCHAR},
      project_application_upload_address = #{projectApplicationUploadAddress,jdbcType=VARCHAR},
      is_meeting = #{isMeeting,jdbcType=INTEGER},
      meeting_review_message = #{meetingReviewMessage,jdbcType=VARCHAR},
      review_phase = #{reviewPhase,jdbcType=INTEGER},
      failure_reason = #{failureReason,jdbcType=VARCHAR},
      application_time = #{applicationTime,jdbcType=TIMESTAMP}
    where project_application_id = #{projectApplicationId,jdbcType=VARCHAR}
  </update>
</mapper>