<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.dao.ReviewExpertMapper" >
  <resultMap id="BaseResultMap" type="com.management.model.entity.ReviewExpert" >
    <id column="review_expert_id" property="reviewExpertId" jdbcType="INTEGER" />
    <result column="expert_id" property="expertId" jdbcType="VARCHAR" />
    <result column="expert_name" property="expertName" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="review_opinion" property="reviewOpinion" jdbcType="VARCHAR" />
    <result column="final_opinion" property="finalOpinion" jdbcType="INTEGER" />
    <result column="is_finished" property="isFinished" jdbcType="INTEGER" />
    <result column="project_application_id" property="projectApplicationId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    review_expert_id, expert_id, expert_name, score, review_opinion, final_opinion, is_finished, 
    project_application_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.management.model.entity.ReviewExpertExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_ReviewExpert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_ReviewExpert
    where review_expert_id = #{reviewExpertId,jdbcType=INTEGER}
  </select>
  <select id="selectByProjectApplicationId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tbl_ReviewExpert
    where project_application_id = #{projectApplicationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_ReviewExpert
    where review_expert_id = #{reviewExpertId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.management.model.entity.ReviewExpertExample" >
    delete from tbl_ReviewExpert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.management.model.entity.ReviewExpert" >
    insert into tbl_ReviewExpert (review_expert_id, expert_id, expert_name, 
      score, review_opinion, final_opinion, 
      is_finished, project_application_id)
    values (#{reviewExpertId,jdbcType=INTEGER}, #{expertId,jdbcType=VARCHAR}, #{expertName,jdbcType=VARCHAR}, 
      #{score,jdbcType=VARCHAR}, #{reviewOpinion,jdbcType=VARCHAR}, #{finalOpinion,jdbcType=INTEGER}, 
      #{isFinished,jdbcType=INTEGER}, #{projectApplicationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.management.model.entity.ReviewExpert" >
    insert into tbl_ReviewExpert
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reviewExpertId != null" >
        review_expert_id,
      </if>
      <if test="expertId != null" >
        expert_id,
      </if>
      <if test="expertName != null" >
        expert_name,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="reviewOpinion != null" >
        review_opinion,
      </if>
      <if test="finalOpinion != null" >
        final_opinion,
      </if>
      <if test="isFinished != null" >
        is_finished,
      </if>
      <if test="projectApplicationId != null" >
        project_application_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reviewExpertId != null" >
        #{reviewExpertId,jdbcType=INTEGER},
      </if>
      <if test="expertId != null" >
        #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="expertName != null" >
        #{expertName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="reviewOpinion != null" >
        #{reviewOpinion,jdbcType=VARCHAR},
      </if>
      <if test="finalOpinion != null" >
        #{finalOpinion,jdbcType=INTEGER},
      </if>
      <if test="isFinished != null" >
        #{isFinished,jdbcType=INTEGER},
      </if>
      <if test="projectApplicationId != null" >
        #{projectApplicationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.management.model.entity.ReviewExpertExample" resultType="java.lang.Integer" >
    select count(*) from tbl_ReviewExpert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_ReviewExpert
    <set >
      <if test="record.reviewExpertId != null" >
        review_expert_id = #{record.reviewExpertId,jdbcType=INTEGER},
      </if>
      <if test="record.expertId != null" >
        expert_id = #{record.expertId,jdbcType=VARCHAR},
      </if>
      <if test="record.expertName != null" >
        expert_name = #{record.expertName,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewOpinion != null" >
        review_opinion = #{record.reviewOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.finalOpinion != null" >
        final_opinion = #{record.finalOpinion,jdbcType=INTEGER},
      </if>
      <if test="record.isFinished != null" >
        is_finished = #{record.isFinished,jdbcType=INTEGER},
      </if>
      <if test="record.projectApplicationId != null" >
        project_application_id = #{record.projectApplicationId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_ReviewExpert
    set review_expert_id = #{record.reviewExpertId,jdbcType=INTEGER},
      expert_id = #{record.expertId,jdbcType=VARCHAR},
      expert_name = #{record.expertName,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=VARCHAR},
      review_opinion = #{record.reviewOpinion,jdbcType=VARCHAR},
      final_opinion = #{record.finalOpinion,jdbcType=INTEGER},
      is_finished = #{record.isFinished,jdbcType=INTEGER},
      project_application_id = #{record.projectApplicationId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.model.entity.ReviewExpert" >
    update tbl_ReviewExpert
    <set >
      <if test="expertId != null" >
        expert_id = #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="expertName != null" >
        expert_name = #{expertName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="reviewOpinion != null" >
        review_opinion = #{reviewOpinion,jdbcType=VARCHAR},
      </if>
      <if test="finalOpinion != null" >
        final_opinion = #{finalOpinion,jdbcType=INTEGER},
      </if>
      <if test="isFinished != null" >
        is_finished = #{isFinished,jdbcType=INTEGER},
      </if>
      <if test="projectApplicationId != null" >
        project_application_id = #{projectApplicationId,jdbcType=INTEGER},
      </if>
    </set>
    where review_expert_id = #{reviewExpertId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.model.entity.ReviewExpert" >
    update tbl_ReviewExpert
    set expert_id = #{expertId,jdbcType=VARCHAR},
      expert_name = #{expertName,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      review_opinion = #{reviewOpinion,jdbcType=VARCHAR},
      final_opinion = #{finalOpinion,jdbcType=INTEGER},
      is_finished = #{isFinished,jdbcType=INTEGER},
      project_application_id = #{projectApplicationId,jdbcType=INTEGER}
    where review_expert_id = #{reviewExpertId,jdbcType=INTEGER}
  </update>
</mapper>